<div class="container-fluid" id="applicationForm">
	<div class="row">
		<div class="col-sm-12 applicationRequirements">
		<p>If you're looking to join the group you should meet the following requirements: </p>
		<ul>
			<li>Must have a Microphone</li>
			<li>Must be active</li>
			<li>Available to play at least once a week with the group</li>
			<li>Can participate in the forums, even if one post per week</li>
			<li>Must be mature</li>
			<li>Can take a joke</li>
		</ul>
		<p>Though not a requirement, it will help your chances on being accepted if you have at least a 1.0 K/D<p>
		<p>After you apply, you will be contacted by email and asked to play with us over the course of a week (though a decision
		concerning your admittance to the group could be made before then) in order to make a decision on your application. We
		will evaluate the following. </p>
		<ul>
			<li>how well you fit in with our group</li>
			<li>how well you can communicate and relay information in game</li> 
			<li>and how active you are, both in game and in our forums.</li>
		</ul>	
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">

			<div class="form-group">
			<label for="appEmail">Email: (Used ONLY to contact regarding application status)</label>
			<input type="email" class="form-control" id="appEmail">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">

			<div class="form-group">
			<label for="appGamertag">Gamertag:</label>
			<input type="text" class="form-control" id="appGamertag">
			</div>
		</div>
		<div class="col-md-6">

			<div class="form-group">
			<label for="appTimezone">Timezone:</label>
			<select name="appTimezone" class="form-control" id="appTime">
				<option value="AST">Atlantic Time</option>
				<option value="EST">Eastern Time</option>
				<option value="CST">Central Time</option>
				<option value="MST">Mountain Time</option>
				<option value="PST">Pacific Time</option>
				<option value="HST">Hawaiian Time</option>
			</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">

			<div class="form-group">
			<label for="appAge">Age:</label>
			<input type="number" class="form-control" id="appAge">
			</div>
		</div>
		<div class="col-md-4">

			<div class="form-group">
			<label for="appOccupation">Occupation:</label>
			<input type="text" class="form-control" id="appOccupation">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="appMic">Microphone:</label>
				<br>
				<input type="radio" name="mic" value="yes" checked> Yes</input>
				<input type="radio" name="mic" value="no"> No</input>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<button id="submitApp" class="form-control" ng-click="submit();">Submit Application</button>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
		