<div class="container-fluid" id="applicationForm">
	<div class="row">
		<div class="col-sm-12">

			<div class="form-group">
			<label for="appEmail">Email: (Used ONLY to contact regarding application status)</label>
			<input type="email" class="form-control" id="appEmail">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">

			<div class="form-group">
			<label for="appGamertag">Gamertag:</label>
			<input type="text" class="form-control" id="appGamertag">
			</div>
		</div>
		<div class="col-md-6">

			<div class="form-group">
			<label for="appTimezone">Timezone:</label>
			<select name="appTimezone" class="form-control" id="appTime">
				<option value="AST">Atlantic Time</option>
				<option value="EST">Eastern Time</option>
				<option value="CST">Central Time</option>
				<option value="MST">Mountain Time</option>
				<option value="PST">Pacific Time</option>
				<option value="HST">Hawaiian Time</option>
			</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">

			<div class="form-group">
			<label for="appAge">Age:</label>
			<input type="number" class="form-control" id="appAge">
			</div>
		</div>
		<div class="col-md-4">

			<div class="form-group">
			<label for="appOccupation">Occupation:</label>
			<input type="text" class="form-control" id="appOccupation">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="appMic">Microphone:</label>
				<br>
				<input type="radio" name="mic" value="yes" checked> Yes</input>
				<input type="radio" name="mic" value="no"> No</input>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<button id="submitApp" class="form-control" ng-click="submit();">Submit</button>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
		