<div class="container-fluid fadeIn">
  <div class="row playerCard" ng-model="myProfileInformation">
    <div class="col-md-4"></div>
    <div class="col-md-4 playerCardHeaders">
      <div class="row">
        <div class="col-md-12">{{myProfileInformation.name}}</div>
      </div>
      <div class="row">
        <div class="col-md-12"><h6>Playing as:</h6><h3>"{{myProfileInformation.alias}}"</h3></div>
      </div>
      <div class="row">
        <div class="col-md-12"><h4>Currently Ranked:</h4><h2>#{{myProfileInformation.rank}}</h2></div>
      </div>
      <div class="row">
        <div class="col-md-12"><h4>Record</h4></div>
      </div>
      <div class="row">
        <div class="col-md-5 profileSinglesW">{{myProfileInformation.singlesW}}</div>
        <div class="col-md-2">-</div>
        <div class="col-md-5 profileSinglesL">{{myProfileInformation.singlesL}}</div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<div class="container-fluid pendingChallenges profileTableDiv fadeIn">
  <div class="row">
    <div class="col-md-12"><h6>Challenged Me!</h6></div>
  </div>
  <div class="row challengingHeader">
    <div class="col-md-1">Rank</div>
    <div class="col-md-3">Challenger</div>
    <div class="col-md-3">Challenger Record</div>
    <div class="col-md-2">Proposed Schedule</div>
    <div class="col-md-3">Accept or Decline</div>
  </div>
  
  <div class="row myChallenges" ng-repeat="obj in challengesArray" ng-show="obj.gettingchallenged == me || obj.gettingchallenged == myProfileInformation.alias" id="{{$id}}">
    <div class="col-md-1">{{obj.challengerrank}}</div>
    <div class="col-md-3">{{obj.challenger}}</div>
    <div class="col-md-3">{{obj.challengerWins}} - {{obj.challengerLosses}}</div>
    <div class="col-md-2">{{obj.date1}} at {{obj.time1}}</div>
    <div class="col-md-3">
      <button id="acceptChallenge" ng-click="accept(obj)"><span class="glyphicon glyphicon-ok"></span></button>
      <button id="rejectChallenge" ng-click="cancel(obj)"><span class="glyphicon glyphicon-remove"></span></button></div>
  </div>
</div>

<div class="container-fluid pendingChallenges profileTableDiv fadeIn">
  <div class="row">
    <div class="col-md-12"><h6>Who I'm challenging</h6></div>
  </div>
  <div class="row challengingHeader">
    <div class="col-md-1">Rank</div>
    <div class="col-md-3">Opponent</div>
    <div class="col-md-3">Opponents Record</div>
    <div class="col-md-2">Proposed Schedule</div>
    <div class="col-md-3">Cancel</div>
  </div>
    <div class="row myChallenges" ng-repeat="obj in challengesArray" ng-show="obj.challenger == me || obj.challenger == myProfileInformation.alias" id="{{$id}}">
      <div class="col-md-1">{{obj.gettingchallengedrank}}</div>
      <div class="col-md-3">{{obj.gettingchallenged}}</div>
      <div class="col-md-3">{{obj.gettingchallengedW}} - {{obj.gettingchallengedL}}</div>
      <div class="col-md-2">{{obj.date1}} at {{obj.time1}}</div>
      <div class="col-md-3">
        <button id="rejectChallenge" ng-click="cancel(obj)"><span class="glyphicon glyphicon-remove"></span></button></div>
    </div>
</div>

<div class="container-fluid profileTableDiv fadeIn">
	<div class="row">
		<div class="col-md-12"><h6>Schedule and Results</h6></div>
	</div>
	<div class="row singlesTable challengingHeader">
		<div class="col-md-3">Date</div>
		<div class="col-md-3">Challenger</div>
		<div class="col-md-3">Defending</div>
		<div class="col-md-3">Report Results</div>
	</div>
  <div class="row mySchedule" ng-repeat="obj in matchesArray" ng-if="obj.challenger == me || obj.gettingchallenged == me || obj.challenger == myProfileInformation.alias || obj.gettingchallenged == myProfileInformation.alias">
    <div class="col-md-3">{{obj.date1}} at {{obj.time1}}</div>
    <div class="col-md-3">#{{obj.challengerrank}}. {{obj.challenger}} ({{obj.challengerwins}}-{{obj.challengerlosses}})</div>
    <div class="col-md-3">#{{obj.gettingchallengedrank}}. {{obj.gettingchallenged}} ({{obj.gettingchallengedwins}}-{{obj.gettingchallengedlosses}})</div>
    <div class="col-md-3">
      <button ng-hide="obj.reported" id="reportScore" data-toggle="modal" data-target="#reportModal" ng-click="report(obj)">Click to report match results!</button></div>
      <span class="resultsFinal" ng-show="obj.reported">Final: {{obj.challengerscore}} - {{obj.gettingchallengedscore}}</span>
      <span class="resultsW" ng-if="obj.challengerscore > obj.gettingchallengedscore">{{obj.challenger}} W</span>
      <span class="resultsW" ng-if="obj.challengerscore < obj.gettingchallengedscore">{{obj.gettingchallenged}} W<span>
  </div>
</div>  

<div class="modal fade" id="reportModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Match Score</h4>
      </div>
      <div class="modal-body" ng-modal="matchBeingReported">
       <p ng-if="matchBeingReported.challenger == me">You just played #{{matchBeingReported.gettingchallengedrank}}. {{matchBeingReported.gettingchallenged}} on the Ping Pong Singles Ladder. Please enter the results of the match below:</p>
       <p ng-if="matchBeingReported.gettingchallenged == me">You just played #{{matchBeingReported.challengerrank}}. {{matchBeingReported.gettingChallenged}} on the Ping Pong Singles Ladder. Please enter the results of the match below: </p>
       <div class="container-fluid">
         <div class="row">
           <div class="col-md-4">Enter Your Score: </div>
           <div class="col-md-8"><input type="number" ng-model="myScore" id="myScoreInput"></div>
         </div>
         <div class="row">
           <div class="col-md-4" ng-show="matchBeingReported.challenger !== me">Enter {{matchBeingReported.challenger}}'s Score: </div>
           <div class="col-md-8" ng-show="matchBeingReported.challenger !== me"><input type="number" ng-model="oppScore" id="oppScoreInput"></div>
           <div class="col-md-4" ng-show="matchBeingReported.challenger == me">Enter {{matchBeingReported.gettingchallenged}}'s Score: </div>
           <div class="col-md-8" ng-show="matchBeingReported.challenger == me"><input type="number" ng-model="oppScore" id="oppScoreInput"></div>
        </div>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="reportResults()" data-dismiss="modal">Submit Score!</button>
      </div>
    </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->