<div class="container-fluid" id="rankTable">
	<div class="row">
		<div class="col-md-2">RANK</div>
		<div class="col-md-6">INSIGNIA</div>
		<div class="col-md-4">REQUIREMENTS</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName">COLONEL</div>
		<div class="col-md-6"><img id="colpng" src="rankimgs/colonel.png"></div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName" id="rankNameLTC">LIEUTENANT COLONEL</div>
		<div class="col-md-6"><img id="ltcpng" src="rankimgs/ltc.png"></div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName" id="rankNameMAJ">MAJOR</div>
		<div class="col-md-6"><img id="majpng" src="rankimgs/maj.png"></div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName" id="rankNameCPT">CAPTAIN</div>
		<div class="col-md-6"><img id="cptpng" src="rankimgs/cpt.png"></div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName">FIRST LIEUTENANT</div>
		<div class="col-md-6">IMG</div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName">SERGEANT MAJOR</div>
		<div class="col-md-6">IMG</div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName">MASTER SERGEANT</div>
		<div class="col-md-6">IMG</div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName">SERGEANT FIRST CLASS</div>
		<div class="col-md-6">IMG</div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName">STAFF SERGEANT</div>
		<div class="col-md-6">IMG</div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName">SERGEANT</div>
		<div class="col-md-6">IMG</div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName">CORPORAL</div>
		<div class="col-md-6">IMG</div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
</div>