<div class="container-fluid" id="rankTable">
	<div class="row">
		<div class="col-md-2">RANK</div>
		<div class="col-md-6">INSIGNIA</div>
		<div class="col-md-4">REQUIREMENTS</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName">COLONEL</div>
		<div class="col-md-6"><img id="colpng" src="rankimgs/colonel.png"></div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName" id="rankNameLTC">LIEUTENANT COLONEL</div>
		<div class="col-md-6"><img id="ltcpng" src="rankimgs/ltc.png"></div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName" id="rankNameMAJ">MAJOR</div>
		<div class="col-md-6"><img id="majpng" src="rankimgs/maj.png"></div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName" id="rankNameCPT">CAPTAIN</div>
		<div class="col-md-6"><img id="cptpng" src="rankimgs/cpt.png"></div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName" id="rankName1LT">FIRST LIEUTENANT</div>
		<div class="col-md-6"><img id="ltpng" src="rankimgs/1lt.png"></div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName" id="rankNameSGM">SERGEANT MAJOR</div>
		<div class="col-md-6"><img id="sgmpng" src="rankimgs/sgm.png"></div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName" id="rankNameMSG">MASTER SERGEANT</div>
		<div class="col-md-6"><img id="msgpng" src="rankimgs/msg.png"></div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName" id="rankNameSFC">SERGEANT FIRST CLASS</div>
		<div class="col-md-6"><img id="sfcpng" src="rankimgs/sfc.png"></div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName" id="rankNameSSG">STAFF SERGEANT</div>
		<div class="col-md-6"><img id="ssgpng" src="rankimgs/ssg.png"></div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName" id="rankNameSGT">SERGEANT</div>
		<div class="col-md-6"><img id="sgtpng" src="rankimgs/sgt.png"></div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
	<div class="row">
		<div class="col-md-2 rankName" id="rankNameCPL">CORPORAL</div>
		<div class="col-md-6"><img id="cplpng" src="rankimgs/cpl.png"></div>
		<div class="col-md-4">Sample Requirements</div>
	</div>
</div>