<div class="container-fluid" id="rosterTable">
	<div class="row">
		<div class="col-md-1 rosterTableHeader">RANK</div>
		<div class="col-md-2 rosterTableHeader">GAMERTAG</div>
		<div class="col-md-3 rosterTableHeader">TEAM ROLE</div>
		<div class="col-md-6 rosterTableHeader">GAMES</div>
	</div>
	<div class="row">
		<div class="col-md-1"><img id="rostercptpng" src="rankimgs/cpt.png"></div>
		<div class="col-md-2" id="rosterGamerTag1">StiffNasty</div>
		<div class="col-md-3">Founder / Team Dev</div>
		<div class="col-md-6"></div>
	</div>
	<div class="row">
		<div class="col-md-1"><img class="rosterltpng" src="rankimgs/1lt.png"></div>
		<div class="col-md-2" id="rosterGamerTag1">DTS1186</div>
		<div class="col-md-3">Co-Founder</div>
		<div class="col-md-6"></div>
	</div>
	<div class="row">
		<div class="col-md-1"><img class="rosterltpng" src="rankimgs/1lt.png"></div>
		<div class="col-md-2" id="rosterGamerTag1">Turbine951</div>
		<div class="col-md-3">Co-Founder</div>
		<div class="col-md-6"></div>
	</div>
	<div class="row">
		<div class="col-md-1"><img class="rosterltpng" src="rankimgs/1lt.png"></div>
		<div class="col-md-2" id="rosterGamerTag1">MichaelBolton</div>
		<div class="col-md-3">Co-Founder</div>
		<div class="col-md-6"></div>
	</div>
	<div class="row">
		<div class="col-md-1"><img class="rosterltpng" src="rankimgs/1lt.png"></div>
		<div class="col-md-2" id="rosterGamerTag1">Nutzinyourfac</div>
		<div class="col-md-3">Dust Collector</div>
		<div class="col-md-6"></div>
	</div>
</div>