<div class="container-fluid" id="rosterTable">
	<div class="row">
		<!-- <div class="col-md-1 rosterTableHeader">RANK</div> -->
		<div class="col-md-2 rosterTableHeader">GAMERTAG</div>
		<div class="col-md-3 rosterTableHeader">ROLE</div>
		<div class="col-md-3 rosterTableHeader">TIMEZONE</div>
		<div class="col-md-4 rosterTableHeader">GAMES</div>
	</div>
	<div class="row" ng-repeat="member in members">
		<!-- <div class="col-md-1"><img id="rostercptpng" src="rankimgs/cpt.png"></div> -->
		<div class="col-md-2" id="rosterGamerTag1">{{member.gamertag}}</div>
		<div class="col-md-3">{{member.role}}</div>
		<div class="col-md-3">{{member.timezone}}</div>
		<div class="col-md-4">{{member.games}}</div>
	</div>
</div>