<div class="container-fluid fadeIn">
	<div class="row">
		<div class="col-md-12"><H3 id="singlesRankingsHeader">Singles Rankings</h3>
			<button id="joinSinglesLadder" data-toggle="modal" data-target="#myModal" ng-hide="inuseUid">Join Competition!</button>
		</div>
	</div>
<div class="singlesTable fadeIn">
	<div class="row singlesTableHeader">
		<div class="col-sm-1" id="rankheader">RANK</div>
		<div class="col-md-2">NAME</div>
		<div class="col-md-2">WINS</div>
		<div class="col-md-2">LOSSES</div>
		<div class="col-md-2">LAST MATCH</div>
		<div class="col-md-2">NEXT MATCH</div>
		<div class="col-md-1">CHALLENGE</div>
	</div>
	<div class="row rankTable" ng-repeat="users in firebaseUsersArray | orderBy: 'rank'">
		<div class="col-md-1 rank">{{users.rank}}</div>
		<div class="col-md-2">{{users.alias}}</div>
		<div class="col-md-2">{{users.singlesW}}</div>
		<div class="col-md-2">{{users.singlesL}}</div>
		<div class="col-md-2"></div>
		<div class="col-md-2"></div>
		<div class="col-md-1"><button id="challenge" ng-click="challenge(users)" data-toggle="modal" data-target="#challengeModal">Challenge!</button></div>
</div>
</div>


<!-- Modal for joining the SINGLES LADDER -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Joining the Singles!</h4>
      </div>
      <div class="modal-body">
        <p>Please enter a player name:</p>
        <p ng-show="inusePlayerName" class="alreadyUsed">There's already a player on this ladder by that name!</p>
        <p ng-show="inuseUid" class="alreadyUsed">Your FB account is already associated with a player on this ladder</p>
        <input type="text" ng-model="playername" id="playername"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="joinSingles()" data-dismiss="modal">Join!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal for creating a challenge -->
<div class="modal fade" id="challengeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Challenged!</h4>
      </div>
      <div class="modal-body">
        <p>You've challenged {{challengedUserAlias}} for his #{{challengedUserRank}} Rank on the Singles Ladder</p>
        <p>Please select a date and time you're available to play.</p>
        <input type="date" ng-model="challengedDate1"></input>
        <input type="time" ng-model="challengedTime1"></input>
        <!-- <input type="date" ng-model="challengedDate2"></input>
        <input type="time" ng-model="challengedTime2"></input>
        <input type="date" ng-model="challengedDate3"></input>
        <input type="time" ng-model="challengedTime3"></input> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="submitChallenge()" data-dismiss="modal">Submit Challenge</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->