body {
	background: url('background.jpg'), linear-gradient(gray 0%, white 33%, black 100%);
	background-image: url('background.jpg'),
			-webkit-linear-gradient(gray 0%, white 33%, black 100%);

			background-blend-mode: multiply;
	-webkit-background-blend-mode: multiply;
	
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Raleway", sans-serif;
	color: white;
}

@keyframes rollingSmoke {
	from{
		background-position: 0;
		opacity: .2;
	}
	to {
		background-position: 1000px;
		opacity: .2;
	}
}

.smoke {
	animation: 60s rollingSmoke infinite;
	background: url('smoke.png');
	/*background-size: cover;*/
	width: 100%;
	height: 400px;
	position: absolute;
	bottom: 0;
}

/*Nav Menu Styling */
.mainnavlinks {
	text-decoration: none;
	list-style-type: none;
	padding: 10px 70px 10px 70px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid black;
	background: #222;
	text-align: center;
}

.mainnavlinks:hover {
	background: #555;
}

/*menu button unordered list on left panel*/
.menuul {
	list-style-type: none;
	position: absolute;
	top: 35px;
	right: 65px;

}

.mainnavul {
	padding: 0;
	position: absolute;
	right: -300px;
	z-index: 1;
}

/*Class for the styling of the first letter of each link*/
.firstLetter {
	color: #D6D2B4;
	font-weight: 800;
}

/* This is section that handles NAV animations */
/* Nav Slide Out */
@keyframes navslide {
	from {
		position: absolute;
		right: -300px;
		top: 0;
	}
	to {
		position: absolute;
		right: 0;
		top: 0;
	}
}
/*Nav Close Animation */
@keyframes navslideClose {
	from {
		position: absolute;
		right: 0;
		top: 0;
	}
	to {
		position: absolute;
		right: -300px;
		top: 0;
	}
}

@keyframes clickedFlash {
	0% {
		background: #555;
	}

	50% {
		background: #222;
	}
	100% {
		background: #555;
	}
}

@keyframes menuFadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes menuFadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.menuButtonFadeIn {
	animation: 1s menuFadeIn;
	animation-fill-mode: forwards;
}

.menuButtonFadeOut {
	animation: 1s menuFadeOut;
	animation-fill-mode: forwards;
}

/*Class that contains the animation when the nav menu opens*/
.active {
	animation: 2s navslide;
	animation-fill-mode: forwards;
}

/*Class that contains the animation when the nav menu closes*/
.closed {
	animation: 2s navslideClose;
	animation-fill-mode: forwards;
}

/*close menu button style*/
#closeMenu {
	font-size: 7pt;
	color: #999;
	cursor: hand;
}

/*Class that gives the flash to the link when clicked */
.clickedLink {
	animation: .2s clickedFlash 3;
}

/*Class for the styling of the anchor tags in the nav menu*/
nav a,
nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
	text-decoration: none;
	color: inherit;
}

#menudiv {
	width: 50px;
	height: 30px;
	display: inline-block;
}

#menuBtn:hover {
	cursor: hand;
}

/*This is the styling for the ranks page */

#rankTable {
	margin: 100px;
	text-align: center;
}

#rankTable .row {
	margin-bottom: 15px;
}

.rankTableHeader {
	font-size: 8pt;
	text-shadow: 1px 1px 1px black;
	border-bottom: 1px solid tan;
}

#colpng {
	height: 3%;
	width: 20%;
}

#ltcpng {
	height: 4%;
	width: 10%;
}

.rankName {
	font-size: 8pt;
	text-shadow: 1px 1px 1px black;
}

#rankNameLTC {
	position: relative;
	top: 5px;
}

#majpng {
	height: 4%;
	width: 13%;
}

#rankNameMAJ {
	position: relative;
	top: 5px;
}

#cptpng {
	height: 5%;
	width: 17%;
}

#rankNameCPT {
	position: relative;
	top: 7px;
}

#ltpng {
	height: 3%;
	width: 11%;
}

#rankName1LT {
	
}

#sgmpng {
	height: 4%;
	width: 15%;
}

#rankNameSGM {
	
}

#msgpng {
	height: 4%;
	width: 15%;
}

#rankNameMSG {
	
}

#sfcpng {
	height: 4%;
	width: 15%;
}

#rankNameSFC {
	
}

#ssgpng {
	height: 3%;
	width: 7%;
}

#rankNameSSG {
	
}

#sgtpng {
	height: 3%;
	width: 7%;
}

#rankNameSGT {
	
}

#cplpng {
	height: 2%;
	width: 7%;
}

#rankNameCPL {
	
}


